<h1>{{ heroe.nombre }} <small>{{ heroe.aparicion }}</small></h1>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="heroe.img" class="img-fluid" [alt]="heroe.img">
    <br><br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
  <div class="col-md-8">
    <h3>{{ heroe.nombre }}</h3>
    <hr>
    <p>{{ heroe.bio }}</p>
    <div class="text-center">
      <img class="rounded img-thumbnail" *ngIf="heroe.casa == 'DC'" style="width: 32%;" src="https://upload.wikimedia.org/wikipedia/commons/1/1c/DC_Comics_logo.png" alt="">
      <img class="rounded img-thumbnail" *ngIf="heroe.casa == 'Marvel'" src="https://vignette.wikia.nocookie.net/clubpenguin/images/b/ba/Marvel.png/revision/latest?cb=20130414042927" style="width: 32%;">
    </div>
  </div>
</div>
